:root {
  --canadaLife: #A20B29;
  --canadaLife-hue1: #838271;
  --grey: #F0F0EF;

  font-size: 18px;
}

.logocursor-dark {
  color: var(--canadaLife) !important;
}

.intro-light {
  color: var(--canadaLife) !important;
  font-weight: thin;
}

.introCanadaLife {
  font-size: 35px;
  color: var(--canadaLife) !important;
  font-weight: bold;
}

.introCanadaLifeLogo { 
  width: 13rem;
  margin-bottom: 1rem;
}

.introCanadaLifeDescription {
  font-size: 20px;
  color: var(--canadaLife) !important;
  font-weight: bold;
}

.introCanadaLifeDate {
  font-size: 20px;
  color: var(--canadaLife-hue1) !important;
  font-weight: bold;
}

.team, .section-dark {
  background-color: var(--canadaLife) !important;
  color: white !important;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-light {
  background-color: white !important;
  /* color: var(--canadaLife) !important; */
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.sectionTitle {
  font-size: 2.3rem;
  font-weight: bold !important;
  margin-bottom: 2rem;
}

.sectionSubTitle {
  font-size: 1.2rem;
  line-height: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--canadaLife);
}

.section-light .sectionTitle {
  color: var(--canadaLife) !important;
}

.teamImage {
  width: 100%;
  height: 100%;
}

.roleImage1 {
  width: 100%;
}

.roleImageList {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  position: relative;
  width: 100%;
}

.roleImage2, .roleImage3 {
  display: block;
  width: 49%;
}

.roleTitle {
  font-size: 1.2rem;
  font-weight: bold !important;
  color: var(--canadaLife) !important;
}

.role {
  margin-top: 1rem;
}

.role ul {
  padding-inline-start: 1rem;
}

.caseStudyImage {
  width: 100%;
}

strong {
  font-size: 1.2rem;
}

.how-started, .old-design {
  font-size: 18px;
  line-height: 1.7rem;
  margin-top: 2rem;
}

.separator {
  /* width: 100%; */
  height: 2px;
  background-color: var(--canadaLife);
  max-width: 90%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.how-started-list {
  padding-inline-start: 0rem;

  li:not(:last-child) {
    margin-bottom: 1rem;
  }
}
.defining-problem-title {
  font-size: 1.2rem;
  color: var(--canadaLife) !important;
  font-weight: bold !important;

}

.howStartedImage, .oldDesignImage {
  width: 100%;
}

.defining-problem {
  background-color: var(--grey) !important;
  height: 100%;
  padding: 2rem;
}

.definining-problem-title {
  font-size: 1.4rem;
}

.research-recommendations {
  li:not(:first-child) {
    margin-top: 1rem;
  }
}

.subSection {
  /* background-color: var(--grey) !important; */
  height: 100%;
  /* padding: 2rem; */
}

.ideaImageList {
  display: flex; 
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
}

.ideaImage {
  flex: 1 1 auto;
  min-width: 40%;
}

.ideaImage3 {
  flex: none;
  display: block;
  max-width: 400px;
  margin: auto;
}

.marginTop { 
  margin-top: 2rem;
}

.legend { 
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 0.6rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.legend-indicator {
  background-color: var(--canadaLife) !important;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  aspect-ratio: 1;
  border-radius: 999rem;
}

.legend-title + .legend-title {
  margin-top: 1rem;
}

.legend-description {
  font-size: 0.8rem;
}

.legend-footnote {
  margin-top: 1rem;
}

.footnote {
  margin-top: 4rem;
  font-size: 1.2rem;
}

.workshopTableImage {
  width: 100%;
}

.workshop-list {
  list-style-type: square;
  margin-top: 2rem;

  li {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}



.limitationList {
  display: flex; 
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
}

.limitationImage {
  flex: 1 1 auto;
  min-width: 40%;
}

.limitations {
  padding: 1rem;
  margin-top: 2rem;
  border: 1px solid var(--canadaLife);
}

.limitations-title, .limitations-conclusion { 
  font-size: 1.5rem;
  line-height: 1.7rem;
}

.limitations-title:not(:first-child), .limitations-conclusion { 
  margin-top: 2rem;
}

.testing-title { 
  margin-top: 2rem;
}

.padding-top {
  padding-top: 2rem;
  font-size: 1.2rem;
}

.figmaImage { 
  width: 100%;
}

.popup-wallpaper {

}

.btn-primary {
  color: #102027 !important;
  background-color: var(--grey) !important;
  border-color: #707070 !important;
  border: dashed 2px !important;
  border-radius: 0 !important;
}